:root {
    --clr-neonblue: hsl(205, 100%, 50%);
    --clr-neonwhite: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    outline: none;
}

a {
    padding-top: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-neonblue);
}

.projectlink {
    padding-top: 20px;
    text-decoration: none;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-family: 'Roboto', sans-serif;
    color: var(--clr-neonwhite);
}

body {

    background-color:black;
    background-image: url("../images/MainLogo");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color:hsl(0, 0%, 0%)
}

.h1div {
    opacity: 0;
}

.parallax {
    /* The image used */
    background-image: url("../images/MainLogo");
    background-color:black;
    /* Set a specific height */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: logoAnimation;
    animation-duration: 2s;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,1)), radial-gradient(circle at top left,rgba(0, 0, 0, 0), rgba(0,0,0,1));
    background-clip: padding-box;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    /* border-bottom: .1em solid var(--clr-neonwhite); */
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.13)
    
}

.hero h1 {
    color: transparent;
    font-size: clamp(3rem, 10vw, 10rem);
    -webkit-text-stroke: .7px var(--clr-neonwhite);
    font-family: 'Orbitron', sans-serif;
}

.hero h2 {
    /* color: var(--clr-neonwhite); */
    -webkit-text-stroke: .7px var(--clr-neonwhite);
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: 'Orbitron', sans-serif;
    border-bottom: .05em solid var(--clr-neonwhite);
}

.hero h3 {
    /* color: var(--clr-neonwhite); */
    -webkit-text-stroke: .7px var(--clr-neonwhite);
    font-size: clamp(1rem, 4vw, 3rem);
    font-family: 'Orbitron', sans-serif;
}

.hero h3:hover {
    text-shadow:0px 1rem 1rem var(--clr-neonwhite);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neonwhite);
    border-top: 1px solid var(--clr-neonwhite);
    margin-bottom: 4vh;
    margin-top: 3vh;
    padding-top: 2vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'Roboto', sans-serif;
}

.container-main {
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
}

.container-main2 {
    padding-top: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
}

.container-main3 {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,.5));
    width: 100%;
}

.spacer1 {
    padding-top: 40vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
}

.spacer1 h2 {
    -webkit-text-stroke: .4px var(--clr-neonblue);
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: 'Orbitron', sans-serif;
}

.container {
    margin-top:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0,1));
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.aside-about {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,1));
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10%;
    min-height:70vh;
    width: 70vw;
    margin: 0 auto;
    box-shadow: 0 -10px 20px hsla(205, 100%, 50%, 0.295), inset 0 -10px 10px rgba(255, 255, 255, 0.03);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-about:hover {
    box-shadow: 0 -10px 30px hsla(205, 100%, 50%, 0.63), inset 0 0px 15px hsla(205, 100%, 50%, 0.63);
    transition: .5s;
}

.tech {
    margin-top: 2em;
    padding-top: 2em;
    border-top:1px solid hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.social img:hover {
    box-shadow: 0 5px 10px hsl(0, 0%, 100%), inset 0 0 10px hsl(0, 0%, 100%);
    transition: .3s;
    transform: scale(1.1);
}

.social img:active {
    box-shadow: 0 0px 15px hsl(0, 0%, 100%), inset 0 0px 14px hsl(0, 0%, 100%);
    border-radius: 20%;
    transform: scale(1);
    transition: .5s;
}

.social {
    display: flex;
    justify-content:space-evenly;
    margin: 0 auto;
    margin-top: 20vh;
    width: 60vw;
}

.social img {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 10%;
    transition: .3s ease-out;
    margin: .75em;
    object-fit: contain;
}

.vedomy-mobile {
    display:none;
}

.circle-mobile {
    display:none;
}

.aside-projV {
    margin: 0 auto;
    background-color: transparent;
    min-height:60vh;
    width: 40vw;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

.aside-projV-inner {
    /* border: 1px solid var(--clr-neonwhite); */
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.vmobile-inner {
    /* border: 1px solid var(--clr-neonwhite); */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#vedomyss:hover ~ .aside-projV > .aside-projV-inner {
    transform: rotateY(180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#vedomyss:focus ~ .aside-projV > .aside-projV-inner {
    transform: rotateY(180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-projV-front, #vedomy {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

.vmobile-front, .vmobile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.cmobile-front, .cmobile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-projV-front {
    background-color: black;
    color: black;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    border-radius:10px;
  }

#vedomy {
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    transform: rotateY(180deg);
    box-shadow: 10px 10px 30px hsla(261, 64%, 68%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.vmobile-back {
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    transform: rotateY(180deg);
    box-shadow: 10px 10px 30px hsla(261, 64%, 68%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.aside-proj {
    margin: 0 auto;
    background-color: transparent;
    min-height:60vh;
    width: 40vw;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-proj-inner {
    /* border: 1px solid var(--clr-neonwhite); */
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
}

.cmobile-inner {
    /* border: 1px solid var(--clr-neonwhite); */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#ouicirclesss:hover ~ .aside-proj > .aside-proj-inner {
    transform: rotateY(180deg);
}

#ouicirclesss:focus ~ .aside-proj > .aside-proj-inner {
    transform: rotateY(180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#cmobile-front:focus .cmobile-inner {
    transform: rotateY(180deg);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-proj-front, #ouicircle {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.cmobile-front, .cmobile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.aside-proj-front {
    background-color: black;
    color: black;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    border-radius:10px;
}

#ouicircle {
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    transform: rotateY(180deg);
    box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
}

.cmobile-back {
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    transform: rotateY(180deg);
    box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
}

#vedomyss {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10%;
    min-height:60vh;
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    opacity: .4;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#vedomyss img {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

#vedomyss:hover, #vedomyss:hover > img {
    opacity: 1;
    box-shadow: -10px 10px 30px hsla(261, 64%, 68%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
    /* transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1) */
}

.vmobile-front:hover, .vmobile-front:hover > img {
    opacity: 1;
    box-shadow: -10px 10px 30px hsla(261, 64%, 68%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
    /* transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1) */
}

#ouicirclesss {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--clr-neonwhite); */
    border-radius: 10%;
    min-height:60vh;
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
    opacity: .4;
    -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

#ouicirclesss img {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.cmobile-front img {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#ouicirclesss:hover, #ouicirclesss:hover > img {
    opacity: 1;
    box-shadow: 10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
}

.cmobile-front:hover, .cmobile-front:hover > img {
    opacity: 1;
    box-shadow: 10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
    transition: 1s;
}

.aside-projV:hover {
    box-shadow: 10px 10px 30px hsla(261, 64%, 68%, 0.795);
    transition: 1s;
}

.vedomy-mobile:hover {
    box-shadow: 0px 0px 30px hsla(261, 64%, 68%, 0.795);
    transition: 1s;
}

.aside-proj:hover {
    box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795);
    transition: 1s;
}

.circle-mobile:hover {
    box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795);
    transition: 1s;
}

#about {
    align-items: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    
}

#about h2 {
    -webkit-text-stroke: .1px var(--clr-neonblue);
    font-size: 4rem;
    
    font-family: 'Orbitron', sans-serif;
}

#about h3 {
    /* -webkit-text-stroke: .1px var(--clr-neonwhite); */
    color: hsl(0, 0%, 100%);
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#ouicircle h2 {
    -webkit-text-stroke: .1px hsla(0, 100%, 72%, 0.795);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
}

#vedomy h2 {
    -webkit-text-stroke: .1px hsla(261, 64%, 68%, 0.795);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
}

.vmobile-back h2 {
    -webkit-text-stroke: .1px hsla(261, 64%, 68%, 0.795);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
}

.cmobile-back h2 {
    -webkit-text-stroke: .1px hsla(0, 100%, 72%, 0.795);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
}

.tech h3 {
    -webkit-text-stroke: 1px var(--clr-neonwhite);
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

#vedomy p {
    color: var(--clr-neonwhite);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-family: 'Roboto', sans-serif;
}

.vmobile-back p {
    color: var(--clr-neonwhite);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-family: 'Roboto', sans-serif;
}

#about p {
    color: var(--clr-neonwhite);
    font-size: clamp(1rem, 1.5vw, 1.25rem);;
    font-family: 'Roboto', sans-serif;
}

#ouicircle p {
    padding: 10px;
    color: var(--clr-neonwhite);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-family: 'Roboto', sans-serif;
}

.cmobile-back p {
    padding: 10px;
    color: var(--clr-neonwhite);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-family: 'Roboto', sans-serif;
}

#filler {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height:70vh;
    width: 40vw;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.misc {
    display: flex;
    flex-direction: column;
    margin:0 3em;
}

.misc h2 {
    color:hsl(0, 0%, 100%);
    font-family: 'Roboto', sans-serif; 
}

.spacer {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,0));
}

.wrapper {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 30vh;
}

#contact-form:hover {
    box-shadow: 0px 0px 30px var(--clr-neonblue), inset 0 0 20px hsla(205, 100%, 50%, 0.692);
    transition: 1s;
}

#contact-form {
    max-width: 550px;
    min-height: 40vh;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px hsla(205, 100%, 50%, 0.247);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
    color: hsla(0, 0%, 100%, 0.781);
    font-family: 'Roboto', sans-serif;
}

.input-fields .input,
.msg textarea {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.26);
    padding: 10px;
    width: 100%;
    color: var(--clr-neonwhite);
}

.msg textarea {
    height:212px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: hsla(0, 0%, 100%, 0.781);;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 0.781)
}

::-moz-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 0.781)
}

::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 0.781)
}

.btn {
    background:rgba(255, 255, 255, 0.048);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 0.781);
    width: 100%
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }

    .msg textarea {
        height: 80px;
    }

    .input-fields,
    .msg {
        width: 100%;
    }

    .social img {
        width: 75px;
        height: 75px;
        padding: 20px;
        border-radius: 10%;
        transition: .3s ease-out;
        margin: .5vw;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,1)), radial-gradient(circle at top left,rgba(0, 0, 0, 0), rgba(0,0,0,1));
        background-clip: padding-box;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        /* border-bottom: .1em solid var(--clr-neonwhite); */
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.13)
        
    }

    .aside-about {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,1));
        /* border: 1px solid var(--clr-neonwhite); */
        border-radius: 5px;
        min-height:70vh;
        width: 100vw;
        margin: 0 auto;
        box-shadow: 0 -10px 20px hsla(205, 100%, 50%, 0.295), inset 0 0px 0px rgba(255, 255, 255, 0.03);
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .vmobile-front {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid var(--clr-neonwhite); */
        border-radius: 10px;
        min-height:60vh;
        width: 100vw;
        margin: 0 auto;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
        opacity: 1;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .cmobile-front {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid var(--clr-neonwhite); */
        border-radius: 10px;
        min-height:60vh;
        width: 100vw;
        margin: 0 auto;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
        opacity: 1;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .vedomy-mobile {
        display:flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: transparent;
        min-height:60vh;
        width: 100vw;
        border-radius: 10px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .circle-mobile {
        display:flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: transparent;
        min-height:60vh;
        width: 100vw;
        border-radius: 10px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .vmobile-front img {
        width: 80%;
        height: 70%;
        border-radius: 10%;
        -webkit-transition: all 1s ease-out;
       -moz-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
       -ms-transition: all 1s ease-out;
       transition: all 1s ease-out;
    }

    .cmobile-front img {
        width: 80%;
        height: 70%;
        border-radius: 10%;
        -webkit-transition: all 1s ease-out;
       -moz-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
       -ms-transition: all 1s ease-out;
       transition: all 1s ease-out;
    }

    .aside-projV {
        display: none;
    }

    .aside-proj {
        display: none;
    }

    .vmobile-inner {
        flex-direction: column;
    }

    #vedomyss {
        display: none;
    }

    #ouicirclesss {
        display: none;
    }

    .vedomy-mobile:focus .vmobile-inner {
        transform: rotateY(180deg);
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .circle-mobile:focus .cmobile-inner {
        transform: rotateY(180deg);
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
    }

    .container {
        margin-top:200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0,1));
        border-radius:0px;
    }

    .container-main {
        padding-top: 20vh;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
        width:100vw;
    }

    .container-main2 {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
        width: 100vw;
    }

    .circle-mobile, .cmobile-front {
        height:10vh;
        width: 100%;
        margin: 0 auto;
        border-radius:5px;
    }


    .mobilelink {
        font-size:1.25rem;
    }
}

@media screen and (max-width: 400px) {
    
}

@media (prefers-reduced-motion: no-preference) {
    .h3-animate {
      animation-name: wipe-enter;
      animation-duration: 2s;
      animation-iteration-count: initial;
    }

    .vedomy-animate {
        animation-name: wipe-enter-left;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
  }

@keyframes logoAnimation {
    0%{
        opacity:0;
        Blur:30px
    }
    35%{
        opacity:0.1;
    }
    100%{
        opacity:1;
        Blur:0px
    }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@keyframes wipe-enter-left {
	0% {
		transform: scale(0, .025);
        left: -100vw;
	}

    25% {
        left: -25vw;
    }

	50% {
		transform: scale(1, .025);
	}
}


